<div class="container">
  <div class="main">
    <div class="user-tab">
      <span>你好！</span>
      <span>小小白兔</span>
      <span style="color: #2aa387;cursor:pointer;">修改个人信息</span>
    </div>
    <div class="user-messages">
      <div class="messages-line">
        <div class="head-portrait">
          <img src="../../../assets/img/user.jpg" class="user-head-portrait">
          <span>小小白兔:</span>
        </div>
      </div>
      <div class="messages">
        <div class="message-content">
          <div class="m-img">
            <img src="http://temp.im/212x150">
          </div>
          <div class="m-right">
            <div class="m-tag">
              <div>失物</div>
            </div>
            <div class="m-main-information">
              <div class="m-title"><span>身份证丢了</span></div>
              <div class="line"><span class="sr-only">这是一根线</span></div>
              <div class="m-margin-bottom"><span>丢失类型:</span><span>证件类</span></div>
              <div class="m-margin-bottom"><span>丢失地点:</span><span>四川省成都市天府广场附近</span></div>
              <div class="m-margin-bottom"><span>丢失时间:</span><span>2019-02-12</span></div>
              <div class="m-margin-bottom"><span>发布者:</span><span>小白兔好好吃</span></div>
            </div>
          </div>
        </div>
        <div class="m-footer">
          <div>
            <span style="font-weight: bold;">描述:</span><span style="line-height: 22px;">地方计费hi偶尔费偶尔无人地方快结束了时间是让人触不及防的东西，分解费访问对对对对对对多多</span>
          </div>
          <div>
            <div class="operation">
              <span>编辑</span>
              <span>留言(5)</span>
              <span>删除</span>
            </div>
            <div style="padding-right:5px;"><span>发布时间:</span><span>2019-02-12 18:00:03</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
