<div class="container">
  <div class="main">
    <div class="user-tab">
      <span>你好！</span>
      <span>{{userInfos.netName}}</span>
      <span style="color: #2aa387;cursor:pointer;" (click)="showUserInfos()">修改个人信息</span>
    </div>
    <div class="user-messages"
         *ngFor="let item of renderData">
      <div class="messages-line">
        <div class="head-portrait">
          <img src="../../../assets/img/user.jpg" class="user-head-portrait">
          <span>小小白兔:</span>
        </div>
      </div>
      <div class="messages">
        <div class="message-content" [routerLink]="item.id">
          <div class="m-img">
            <img class="show-img"
                 [src]="item.picUrlEntityList[0].goodsPicUrl">
          </div>
          <div class="m-right">
            <div class="m-tag">
              <div [ngClass]="item.goodsWay == 1 ? 'lost' : 'found'">
                <span *ngIf="item.goodsWay == 1">寻物</span>
                <span *ngIf="item.goodsWay == 0">招领</span>
              </div>
            </div>
            <div class="m-main-information">
              <div class="m-title"><span>{{item.infoTittle}}</span></div>
              <div class="line"><span class="sr-only">这是一根线</span></div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 0">拾物类型:</span>
                <span *ngIf="item.goodsWay == 1">丢失类型:</span>
                <span>{{item.typeOfGoods | conversionValue}}</span>
              </div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 0">拾物地点:</span>
                <span *ngIf="item.goodsWay == 1">丢失地点:</span>
                <span>{{item.lostPlace}}</span>
              </div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 0">拾物时间:</span>
                <span *ngIf="item.goodsWay == 1">丢失时间:</span>
                <span>{{item.lostTime | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="m-margin-bottom">
                <span>发布者:</span><span>小白兔好好吃</span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-footer">
          <div>
            <span style="font-weight: bold;">描述:</span>
            <span style="line-height: 22px;">{{item.description}}</span>
          </div>
          <div>
            <div class="operation">
              <!--<span>编辑</span>-->
              <span>留言({{item.message.length}})</span>
              <span (click)="deleteData(item.id)">删除</span>
            </div>
            <div style="padding-right:5px;"><span>发布时间:</span><span>{{item.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="-loading" *ngIf="showLoading">
      <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading...">
        <nz-alert></nz-alert>
      </nz-spin>
      <!--<span>正在努力加载数据...</span>-->
    </div>
    <div class="pages" *ngIf="pagesConfig.totalPages == 1">
      <app-common-page [pageSize]="pagesConfig.pageSize" [totalNum]="pagesConfig.totalNum" (currentIndex)="changePage($event)"></app-common-page>
    </div>
    <div class="none_data" *ngIf="pagesConfig.totalNum == 0">
      <nz-empty></nz-empty>
    </div>
  </div>
  <div class="update-user-infos" style="display: none;">
    <div class="update-main">
      <span class="text-tilt">修改个人信息</span>
      <!--上传头像功能暂时不做-->
      <!-- <div style="white-space: nowrap;">
        <label>上传头像:</label>
        <input type="file" style="display: inline-block !important;">
      </div> -->
      <div style="padding-top: 20px;">
        <div class="danger-text-color"
             *ngIf="userInfosStyle.netName && userInfos.netName.length > 15">
          <i class="glyphicon glyphicon-warning-sign icon-danger"></i>
          <span *ngIf="userInfosStyle.netName">网名不能超过15个字符</span>
        </div>
        <label>网名:</label>
        <input type="text" name="netName"
               [(ngModel)]="userInfos.netName">
      </div>
      <div>
        <div *ngIf="userInfosStyle.phone || userInfosStyle.phoneRepeat" class="danger-text-color">
            <i class="glyphicon glyphicon-warning-sign icon-danger"></i>
            <span *ngIf="userInfosStyle.phone">请输入正确的电话号码</span>
            <span *ngIf="userInfosStyle.phoneRepeat">该电话号码已存在</span>
        </div>
        <label>电话号码:</label>
        <input type="text" name="phoneNum" autocomplete="off"
               (change)="checkPhone(userInfos.phone)"
               [(ngModel)]="userInfos.phone">
      </div>
      <div>
        <div *ngIf="userInfosStyle.email || userInfosStyle.emailRepeat" class="danger-text-color">
            <i class="glyphicon glyphicon-warning-sign icon-danger"></i>
            <span *ngIf="userInfosStyle.email">请输入正确的youxiang</span>
            <span *ngIf="userInfosStyle.emailRepeat">该youxiang已存在</span>
        </div>
        <label>邮箱:</label>
        <input type="text" name="email" autocomplete="off"
               (change)="checkEmail(userInfos.email)"
               [(ngModel)]="userInfos.email">
      </div>
      <div>
        <label>出生日期:</label>
        <nz-demo-date-picker-start-end style="display: inline-block; margin-bottom: -8px"
                                       [isShowEndPicker]="false"
                                       [birthday]="userInfos.birthday"
                                       (startDateVal)="formatDate($event)"></nz-demo-date-picker-start-end>
      </div>
      <div style="display: flex;">
        <label>所在地区:</label>
        <div class="location">
          <select (change)="changeProvince($event.target.value)">
            <option name="province"
                    [selected]="item[0] == userInfos.province"
                    *ngFor="let item of getProvinces">{{item[1]}}</option>
          </select>
          <select (change)="changeCity($event.target.value)">
            <option name="province"
                    [selected]="item[0] == userInfos.city"
                    *ngFor="let item of getCities">{{item[1]}}</option>
          </select>
          <select (change)="changeArea($event.target.value)">
            <option *ngFor="let item of getDistricts"
                    [selected]="item[0] == userInfos.district">{{item[1]}}</option>
          </select>
        </div>
        
      </div>
      <div style="width: 100%; display: flex;justify-content: space-around;padding: 20px 40px 0">
        <button class="btn btn-success" nz-button (click)="updateUsersInfos()">保存</button>
        <button class="btn btn-danger" (click)="cancelUpdateUsersInfos()">取消</button>
      </div>
    </div>
  </div>
  <div class="delete-layer" style="display: none;" (click)="closeDeleteLayer()">
    <div class="delete-main">
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span>真的要删除这条信息吗？</span>
      <div class="delete-btn">
        <button class="btn btn-success" (click)="confirmDel()">确定</button>
        <button class="btn btn-danger" (click)="cancelDel()">取消</button>
      </div>
    </div>
  </div>
</div>

