@import "../../publicSource/basicColor";

.main{
  margin-top:100px;
  padding:20px 40px;
  border:1px $basicColor-orange solid;

  img{
    margin:0 10px;
  }

  .row{
    margin-bottom:10px;
    padding-top: 6px !important;
    & > span:first-child{
      margin-right:10px;
      font-weight:bold;
    }
  }
  & > .row:first-child{
    padding-bottom:20px;
  }
  .title{
    color:$basicColor-orange;
    font-size:30px;
  }
}

/*
**the leave words css
*/
.leave-word{
  background-color: rgba($basicColor-gray,0.2);
  margin-top:50px;
  width:60%;

  .row{
    margin:0;
    padding:0;
  }

  & > .row:first-child div{
    width:90px;
    background-color: $basicColor-green;
    color:#fff;
    font-size:15px;
    padding:5px 0;
  }
  .messages{
    padding:25px 35px 5px 30px;

    .row{
      margin-bottom:15px;

      & > div:nth-child(2){
        font-size:10px;
        color:$basicColor-gray;
        margin-top:-12px;
      }
    }

    & > .row:last-child{
      padding-top:20px;
    }
  }


  button{
    margin:0 10px;
    padding:5px 10px;
  }
}

#answer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 86.1%;
  height: 100%;
  // background: yellow;
}
.answer-question{
  display: flex;
  flex-direction: column;
  padding: 15px 20px 20px;
  background: #fff;
  border: 1px solid #ff8254;
  border-radius: 5px;
  width: 295px;

  .title{
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;

  }
  input{
    border: 1px #ff8254 solid;
    border-radius: 5px;
    width: 180px;
    height: 32px;
    margin-left: 65px;
  }
  input:focus{
    box-shadow: 0 0 3px #ff8254  solid; 
  }
  label{
    width: 65px;
  }
  .btn-line{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .question{
    padding-bottom: 15px;
  }
}

.m_img{
  img{
    width: 200px;
    height: 200px;
  }
}
