<div class="container">
  <div id="topImg">
    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="img-top">
  </div>
  <div class="-loading" style="position:fixed;top:70%;left:49%;"
       *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading...">
      <nz-alert></nz-alert>
    </nz-spin>
  </div>
  <div class="main row" style="margin-top: 100px !important;padding: 50px !important;"
       *ngFor="let item of renderData">
    <div class="row text-center">
      <span class="title">{{item.infoTittle}}</span>
    </div>
    <div class="row">
      <span>物品种类:</span>
      <span>{{item.typeOfGoods | conversionValue}}</span>
    </div>
    <div class="row">
      <span>描述:</span>
      <div class="inline-block width-40">
        <span>{{item.description}}</span>
      </div>
    </div>
    <div class="row">
      <span>图片:</span>
      <div class="inline-block m_img" *ngFor="let x of item.picUrlEntityList">
        <img [src]="x.goodsPicUrl">
      </div>
    </div>
    <!--<div class="row">
      <span>酬谢方式:</span>
      <span>发表感谢信</span>
    </div>-->
    <div class="row">
      <span *ngIf="item.goodsWay == 1">丢失地点</span>
      <span *ngIf="item.goodsWay == 0">拾物地点:</span>
      <span style="background-color: #ff4500ab">{{item.provinceName}}{{item.cityName}}{{item.districtName}}{{item.lostPlace}}</span>
    </div>
    <div class="row">
      <span *ngIf="item.goodsWay == 1">丢失时间:</span>
      <span *ngIf="item.goodsWay == 0">拾物时间:</span>
      <span style="background-color: yellow;">{{item.lostTime | date: 'yyyy-MM-dd'}}</span>
    </div>
    <div class="row">
      <span>发布者:</span>
      <span>{{item.netName}}</span>
    </div>
    <div class="row">
      <span>联系电话:</span>
      <span style="padding:1px 4px;background-color: #f0ad4e;color:#fff;border-radius:50%;">密</span>
      <a (click)="answerLayer()" style="cursor:pointer;color: #f0ad4e;padding:2px 10px;border:1px solid #f0ad4e;margin-left:40px;" title="获取联系方式">获取联系方式</a>
    </div>
    <div class="row" *ngIf="item.concPlace">
      <span>联系地址:</span>
      <span>{{item.concPlace | filterInfosValue: 'place'}}</span>
    </div>
  </div>
  <div class="row">
    <div class="leave-word left">
      <div class="row">
        <div class="text-center">网友留言</div>
      </div>
      <div class="messages">
        <div class="row" style="text-align: center;margin-bottom: 22px !important;color:#b3aeae;"
             *ngIf="messageList.length === 0">
          <span>暂无网友留言</span>
        </div>
        <div style="max-height:500px;overflow-y:auto;">
          <div class="row" *ngFor="let item of messageList">
            <div>
              <img src="../../../assets/img/user.jpg" style="width:50px;height:50px;border-radius:50%;" />
              <span class="font-color-cyan">{{item.name}}:</span>
              <span>{{item.message}}</span>
            </div>
            <div class="right">{{item.leaveTime | date: 'yyyy-MM-dd hh:mm:ss'}}</div>
          </div>
        </div>

        <div class="row" id="leaveWords" style="padding: 20px 0 20px 50px !important; display: none;">
          <textarea class="publish-leave-words" placeholder="请输入留言" 
                    style="height: 100px;width:90%;resize:none;"
                    [(ngModel)]="leaveWordsInfos.message"></textarea>
        </div>
        <div class="row text-center" style="padding-bottom: 15px !important;">
          <button class="btn btn-success">更多留言</button>
          <button class="btn btn-warning"
                  *ngIf="leaveWordFlag === 'leaveWords'"
                  (click)="leaveWords()">我要留言</button>
          <button class="btn btn-warning"
                  *ngIf="leaveWordFlag === 'publishWords'"
                  (click)="publishWords()">发表留言</button>
        </div>
      </div>
    </div>
    <!-- <div id="leaveWords" class="right">
      <app-publish-leave-words (listen)="test($event)" [data]="num"></app-publish-leave-words>
    </div> -->
  </div>
  <!-- 回答问题 -->
  <div id="answer" class="row" style="display: none">
    <div class="answer-question">
      <div class="title">
        <span>请回答下面的问题</span>
        <p style="font-size:9px;color:#c1bdbd;">为了保证用户信息安全，请回答问题获取用户联系方式。</p>
      </div>
      <div class="question"
           *ngFor="let item of questionLists, let idx = index">
        <label>{{item.key}}:</label>
        <span>{{item.val}}</span>
        <div>
          <input type='text' [attr.idx] = "idx">
        </div>
      </div>
      <div *ngIf="answersList.concPersion !== ''">
        <div>联系人：{{answersList.concPersion}}</div>
        <div>联系电话：{{answersList.concPhone}}</div>
        <div>QQ：{{answersList.qq}}</div>
        <div>联系地址：{{answersList.concPlace}}</div>
      </div>
      <div style="color:red;"
          *ngIf="answerErr && !answersList.concPersion">由于您没有回答对问题，所以不能获取该用户的联系信息！</div>
      <div class="btn-line">
        <button class="btn btn-success"
                *ngIf="answersList.concPersion === ''"
                (click)="confirmAnswer()">确定</button>
        <button class="btn btn-success"
                *ngIf="answersList.concPersion !== ''"
                (click)="cancleAnswer()">确定</button>
        <button class="btn btn-danger" (click)="cancleAnswer()">取消</button>
      </div>
    </div>
  </div>
</div>

