<div class="container">
  <div id="topImg">
    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="img-top">
  </div>
  <div class="main row">
    <div class="row text-center">
      <span class="title">天府广场丢了一张身份证</span>
    </div>
    <div class="row">
      <span>物品种类:</span>
      <span>证件类</span>
    </div>
    <div class="row">
      <span>描述:</span>
      <div class="inline-block width-40">
        <span>好滴哈佛dddddds二恶烷拖无翁二二二二二二二二房间诶哦附件为偶家GIF肯定发了发哈拉分的发的垃圾费IE凤凰网IE个地方垃圾费</span>
      </div>
    </div>
    <div class="row">
      <span>图片:</span>
      <div class="inline-block">
        <img src="http://temp.im/200x200">
        <img src="http://temp.im/200x200">
        <img src="http://temp.im/200x200">
      </div>
    </div>
    <div class="row">
      <span>酬谢方式:</span>
      <span>发表感谢信</span>
    </div>
    <div class="row">
      <span>酬谢方式:</span>
      <span>四川省成都市锦江区仁恒置地广场周围</span>
    </div>
    <div class="row">
      <span>丢失时间:</span>
      <span>2019-02-5 18:21:11</span>
    </div>
    <div class="row">
      <span>联系人:</span>
      <span>陈女士</span>
      <span>联系方式:</span>
      <span>188XXXXXXX</span>
    </div>
    <div class="row">
      <span>联系地址:</span>
      <span>四川省成都市锦江区仁恒置地广场B座1203室</span>
    </div>
  </div>
  <div class="row">
    <div class="leave-word left">
      <div class="row">
        <div class="text-center">网友留言</div>
      </div>
      <div class="messages">
        <div class="row">
          <div>
            <img src="http://temp.im/50x50" />
            <span class="font-color-cyan">一致小白兔:</span>
            <span>我好像看到有人在天府广场上捡到了张身份证，然后就交个了警察</span>
          </div>
          <div class="right">2019-02-22 18:00:11</div>
        </div>
        <div class="row">
          <div>
            <img src="http://temp.im/50x50" />
            <span class="font-color-cyan">一致小白兔:</span>
            <span>我好像看到有人在天府广场上捡到了张身份证，然后就交个了警察</span>
          </div>
          <div class="right">2019-02-22 18:00:11</div>
        </div>
        <div class="row">
          <div>
            <img src="http://temp.im/50x50" />
            <span class="font-color-cyan">一致小白兔:</span>
            <span>我好像看到有人在天府广场上捡到了张身份证，然后就交个了警察</span>
          </div>
          <div class="right">2019-02-22 18:00:11</div>
        </div>
        <div class="row text-center">
          <button class="btn btn-success">更多留言</button>
          <button class="btn btn-warning" (click)="leaveWords()">我要留言</button>
        </div>
      </div>
    </div>
    <div id="leaveWords" class="right">
      <app-publish-leave-words (listen)="test($event)" [data]="num"></app-publish-leave-words>
    </div>
  </div>
</div>
