@import '../../publicSource/basicColor.scss';

$color:$basicColor-deepgreen;


#tabModle{
  padding-top:100px;
}

#myTabContent{
  margin-top:-1px;
  width:100%;
  //height:500px;
  border:1px $basicColor-orange solid;
  //border-top:0;
  border-top-color:transparent;
}

.nav-tabs{
  border-bottom:1px $basicColor-orange solid;
}

#myTab{
  & > li a{
    width:100%;
  }

  & > li:first-child a{
    background-color: $basicColor-orange;
    color:#fff;
  }

  & > li:nth-child(2) a{
    background-color: $basicColor-green;
    color:#fff;
  }

  & > li.active:first-child a{
    background-color: #fff;
    color: $basicColor-orange;
    border:1px $basicColor-orange solid;
    border-bottom-color:transparent;
    //border-right-color: transparent;
  }

  & > li.active:nth-child(2) a{
    background-color: #fff;
    color: $basicColor-green;
    border:1px $basicColor-green solid;
    border-bottom-color:transparent;
    //border-left-color:transparent;
  }
}

.form-body{
  padding:50px;
  .row{
    margin-bottom:15px !important;
    input[type='text'],select{
      height:32px;
      border: 1px #b9b9b9 solid;
      border-radius: 5px;
      padding-left: 8px;
    }
    textarea{
      border: 1px #b9b9b9 solid;
      border-radius: 5px;
      padding-left: 8px;
    }
    input[type='text']:focus,textarea:focus,select:focus{
      border: 1px #11b98a solid;
      box-shadow: 0 0 3px #11b98a;
    }
  }
  & label{
    margin-right:10px;
    vertical-align:top;
  }

  textarea{
    resize:none;
  }

}
.width-40{
  width:40%;
}

.radio-circle{
  display: inline-block;
  position: relative;
  line-height:30px;

  input[type="radio"]{
    width:15px;
    height:15px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  i{
    position: absolute;
    width: 15px;
    height:15px;
    left:0;
    top:5px;
    border-radius: 50%;
    border: 1px solid #999;
  }

  /*设置选中的input样式*/
  input:checked+i{
    //background: #fe6d32;
    border:1px solid #fe6d32;
    box-shadow: 0 0 3px #fe6d32;
  }
  input:checked+i::after{
    position:absolute;
    content:'';
    width:9px;
    height:9px;
    background-color: #ff7f11;
    border-radius: 50%;
    top:2px;
    left:2px;
  }
}

.btn-success{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  width: 140px;
  font-size: 17px;
}

.must{
  color: red;
}

// 提示信息
.alter-message{
  //position:absolute;
  margin-left: 50px;
  i{
    margin: 0 10px;
  }
}

