<div class="container">
  <div id="topImg">
    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="img-top">
  </div>
  <div id="tabModle" role="navigation">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#lost" data-toggle="tab" (click)="lost()">寻物</a>
      </li>
      <li><a href="#lost" data-toggle="tab" (click)="found()">招领</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="lost">
        <div class="form-body">
          <form class="form-inline" method="POST" enctype="multipart/form-data">
            <div class="row">
              <label class="font-color-deepgray"><span class="must">*</span>物品种类:</label>
              <div class="inline-block" style="position:relative; top:-5px;">
                <div *ngFor="let item of goodsClass">
                  <span class="radio-circle" *ngFor="let i of item">
                    <input class="radio-circle" type="radio" name="googdsType" name="goodsType"
                           [value]="i.key"
                           [(ngModel)]="saveInfos.typeOfGoods"
                           (click)="getGoodsType(i.key)">
                    <i></i>
                    <span style="display: inline-block; margin: -2px 15px 0 5px;">{{i.val}}</span>
                  </span>
                </div>
              </div>
              <div class="inline-block alter-message" style="padding-top: 20px;"
                   *ngIf="saveInfosFlags.goodsType && saveInfos.typeOfGoods === ''">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span>请选择物品种类</span>
              </div>
            </div>
            <div class="row">
              <label><span class="must">*</span>信息标题:</label>
              <input type="text" class="" style="width: 45%;padding-left:10px;" name="title"
                     [(ngModel)]="saveInfos.infoTittle">
              <span class="glyphicon glyphicon-info-sign icon" 
                    [ngClass]="saveInfos.infoTittle.length > 15 ? 'icon-danger' : 'icon-remind'"></span>
              <span *ngIf="saveInfos.infoTittle.length > 15">信息标题不能超过15个字符</span>
              <span *ngIf="saveInfos.infoTittle.length <= 15">15个字符内</span>
              <div class="inline-block alter-message"
                   *ngIf="saveInfosFlags.infoTittle && saveInfos.infoTittle === ''">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span>请输入信息标题</span>
              </div>
            </div>
            <div class="row">
              <label><span class="must">*</span>描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述:</label>
              <textarea rows="6" class="width-40" name="description"
                        [(ngModel)]="saveInfos.description"></textarea>
              <div class="inline-block alter-message"
                   *ngIf="saveInfosFlags.description && (saveInfos.description.length > 255 || saveInfos.description.length < 15)">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span *ngIf="saveInfos.description === ''">请输入描述信息</span>
                <span *ngIf="saveInfos.description.length > 255 || saveInfos.description.length < 15">请输入15-255个字符</span>
              </div>
            </div>
            <div class="row">
              <label class="left"><span class="must">*</span>上传图片:</label>
              <input type="file" id="uploadImg1" class="left" (change)="uploadImg()">
            </div>
            <div class="row">
              <label *ngIf="saveInfos.goodsWay === 1"><span class="must">*</span>丢失地点:</label>
              <label *ngIf="saveInfos.goodsWay === 0"><span class="must">*</span>拾物地点:</label>
              <select (change)="selectedProvince($event.target.value)">
                <option *ngFor="let item of provinceList" [selected]="item[0] == '510000'">{{item[1]}}</option>
              </select>
              <select style="margin: 0 10px;"
                      (change)="selectedCity($event.target.value)">
                <option *ngFor="let item of cityList" [selected]="item[0] == '510100'">{{item[1]}}</option>
              </select>
              <select *ngIf="districtList.length !== 0"
                      (change)="selectedArea($event.target.value)">
                <option *ngFor="let item of districtList">{{item[1]}}</option>
              </select>
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span *ngIf="saveInfos.goodsWay === 1">请选择丢失地点</span>
              <span *ngIf="saveInfos.goodsWay === 0">请选择拾物地点</span>
            </div>
            <div class="row">
              <label>&nbsp;&nbsp;详细地址:</label>
              <input type="text" name="detailAddress"
                     [(ngModel)]="detailAddress">
            </div>
            <div class="row">
              <label *ngIf="saveInfos.goodsWay === 1"><span class="must">*</span>丢失时间:</label>
              <label *ngIf="saveInfos.goodsWay === 0"><span class="must">*</span>拾物时间:</label>
              <nz-demo-date-picker-start-end id="timePicker" [isShowEndPicker]="false" (startDateVal)="getDate($event)"></nz-demo-date-picker-start-end>
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span *ngIf="saveInfos.goodsWay === 1">请选择丢失时间</span>
              <span *ngIf="saveInfos.goodsWay === 0">请选择拾物时间</span>
              <div class="inline-block alter-message"
                   *ngIf="saveInfosFlags.lostTime && !saveInfos.lostTime">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span *ngIf="saveInfos.lostTime === '' && saveInfos.goodsWay === 1">请选择丢失时间</span>
                <span *ngIf="saveInfos.lostTime === '' && saveInfos.goodsWay === 0">请选择拾物时间</span>
              </div>
            </div>
            <div class="row">
              <label><span class="must">*</span>&nbsp;&nbsp;&nbsp;联系人:</label>
              <input type="text" name="concactor" [(ngModel)]="saveInfos.concPersion">
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span>请输入联系人姓名</span>
              <div class="inline-block alter-message"
                   *ngIf="saveInfosFlags.conPersion">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span *ngIf="saveInfos.conPersion === ''">请输入联系人姓名</span>
              </div>
            </div>
            <div class="row">
              <label><span class="must"><span class="must">*</span></span>联系电话:</label>
              <input type="text" name="phoneNum" [(ngModel)]="saveInfos.telPhoneNo">
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span>请输入联系电话</span>
              <div class="inline-block alter-message"
                   *ngIf="saveInfosFlags.conPhone && !saveInfos.telPhoneNo">
                <i class="glyphicon glyphicon-alert icon-danger"></i>
                <span>请输入联系电话</span>
              </div>
            </div>
            <div class="row">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q:</label>
              <input type="text" name="qq" [(ngModel)]="saveInfos.qq">
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span>请输入联系QQ号码</span>
            </div>
            <div class="row">
              <label>&nbsp;&nbsp;联系地址:</label>
              <input type="text" name="concPlace" [(ngModel)]="saveInfos.concPlace">
              <span class="glyphicon glyphicon-info-sign icon icon-remind"></span>
              <span>请输入联系地址</span>
            </div>
            <!--感谢信暂时不做-->
            <!--<div class="row">
              <label>酬谢方式:</label>
              <input type="checkbox"><pre>通过“千与千寻”拾物招领发布感谢信</pre>
            </div>-->
            <div class="row">
              <label><span class="must">*</span>&nbsp;&nbsp;问题一:</label>
              <input type="text" name="question1"
                     [(ngModel)]="saveInfos.findGoodsQuestion1">
              <label style="margin-left:50px;"><span class="must"><span class="must">*</span></span>  答案:</label>
              <input type="text" name="answer1" [(ngModel)]="saveInfos.findGoodsAnswer1">
            </div>
            <div class="row">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;问题二:</label>
              <input type="text" name="question2"
                     [(ngModel)]="saveInfos.findGoodsQuestion2">
              <label style="margin-left:50px;">答案:</label>
              <input type="text" name="answer2" [(ngModel)]="saveInfos.findGoodsAnswer2">
            </div>
            <div class="row">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;问题三:</label>
              <input type="text" name="question3"
                     [(ngModel)]="saveInfos.findGoodsQuestion3">
              <label style="margin-left:50px;">答案:</label>
              <input type="text" name="answer3" [(ngModel)]="saveInfos.findGoodsAnswer3">
            </div>
            <div class="row text-center" style="padding-top:50px !important;">
              <input type="submit" class="btn btn-success" (click)="publishNews()" value="立即发布">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
