<div class="container">
  <div id="carousel" class="carousel" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="carousel-img">
      </div>
      <div class="item">
        <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg" class="carousel-img">
      </div>
      <div class="item">
        <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg" class="carousel-img">
      </div>
      <div class="item">
        <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg" class="carousel-img">
      </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="newest">
    <div class="text-center row">
      <span class="title">最新信息</span>
      <p><span class="title-describe">显示最新发布的50条消息，每十分钟更新一次</span></p>
    </div>
    <div class="-loading" *ngIf="showLoading" style="padding-top: 55px;">
        <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading...">
          <nz-alert></nz-alert>
        </nz-spin>
      </div>
    <div class="news">
        <div class="messages" *ngFor="let item of renderData" [routerLink]="item.id">
          <div class="message-content">
            <div class="m-img">
              <img [src]="item.picUrlEntityList[0].goodsPicUrl">
            </div>
            <div class="m-right">
              <div class="m-tag">
                <div [ngClass]="item.goodsWay == 1 ? 'find' : 'lost'">
                  <span *ngIf="item.goodsWay == 1">寻物</span>
                  <span *ngIf="item.goodsWay == 0">招领</span>
                </div>
              </div>
              <div class="m-main-information">
                <div class="m-title"><span>{{item.infoTittle}}</span></div>
                <div class="line"><span class="sr-only">这是一根线</span></div>
                <div class="m-margin-bottom">
                  <span *ngIf="item.goodsWay == 1">丢失类型:</span>
                  <span *ngIf="item.goodsWay == 0">拾物类型:</span>
                  <span>{{ item.typeOfGoods | conversionValue}}</span>
                </div>
                <div class="m-margin-bottom">
                  <span *ngIf="item.goodsWay == 1">丢失地点:</span>
                  <span *ngIf="item.goodsWay == 0">拾物地点:</span>
                  <span>{{item.lostPlace}}</span>
                </div>
                <div class="m-margin-bottom">
                  <span *ngIf="item.goodsWay == 1">丢失时间:</span>
                  <span *ngIf="item.goodsWay == 0">拾物时间:</span>
                  <span>{{item.lostTime | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="m-margin-bottom">
                  <span>发布者:</span><span>{{item.netName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-footer">
            <div>
              <span style="font-weight: bold;">描述:</span>
              <span style="line-height: 22px;">{{item.description}}</span>
            </div>
            <div style="padding-right:5px;">
              <span>发布时间:</span><span>{{item.createTime | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
