@import '../../publicSource/basicColor';
div::before,div::after{
  display: none;
}
.container{
  width:100%;
  text-align: center;
}
.carousel-img{
  width:100%;
}

.newest{
  padding-top:100px;
  .title{
    color:$basicColor;
    font-weight:bold;
    font-size:30px;
  }
  .title-describe{
    color:$basicColor-gray;
  }
}
.news{
  //height:800px;
  padding:20px 0 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.infos-item{
  width:450px;
  min-width:450px;
  height:250px;
  //background-color: rgba(108, 255, 183, 0.2);
  border:1px rgba($basicColor-orange,0.2) solid;
  padding:0;
  cursor:pointer;
  .markLogo{
    float:right;
    color:#fff;
    width:50px;
    text-align: center;
  }
  .find{
    background-color: $basicColor-orange;
  }
  .lost{
    background-color: $basicColor-green;

  }
}
/*background-color find or lost*/
.bgc-find{
  background-color:rgba($basicColor-orange,0.5) !important;

}

.bgc-lost{
  background-color:rgba($basicColor-green,0.5) !important;

}

.right{
  //float:right;
}

.tabBody{
  padding:15px;

  .row{
    margin:0;
  }
  .col-md-6{
    margin:0;
    padding:0;
  }

  & > .row:first-child{
    .text-center{
      border-bottom: 2px orange solid;
      font-size:20px;
      font-weight:bolder;
      padding:5px;
    }

    .text-left{
      padding:5px 0 0 10px;

      & .inline-block span:first-child{
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}
