<div class="container">
  <div id="topImg">
    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="img-top">
  </div>
  <div class="seach-block">
    <form class="form-inline">
      <div class="row">
        <input type="text" class="form-control width-40" placeholder="物品、地点搜索">
        <button class="btn btn-success" (click)="search()">搜索</button>
        <div class="inline-block">
          <label>热门搜索:</label>
          <span class="font-color-blue">身份证</span>
          <span class="font-color-blue">钱包</span>
          <span class="font-color-blue">钥匙</span>
          <span class="font-color-blue">银行卡</span>
          <span class="font-color-blue">文件</span>
        </div>
      </div>
      <div class="row">
        <label>所属区域:</label>
        <div class="inline-block">
          <span class="font-color-cyan">本市</span>
          <span class="font-color-cyan">金牛区</span>
          <span class="font-color-cyan">锦江区</span>
          <span class="font-color-cyan">青羊区</span>
        </div>
      </div>
      <div class="row">
        <label>物品种类:</label>
        <div class="inline-block">
          <span class="font-color-cyan font-margin-10">不限</span>
          <span class="font-color-cyan font-margin-10">钥匙</span>
          <span class="font-color-cyan font-margin-10">钱包</span>
          <span class="font-color-cyan font-margin-10">卡类</span>
        </div>
      </div>
      <div class="row">
        <label>丢失时间:</label>
        <input type="text" class="form-control" placeholder="开始时间" autocomplete="off">
        <input type="text" class="form-control" placeholder="结束时间" autocomplete="off">
      </div>
      <div class="row">
        <label>感谢方式:</label>
        <div class="inline-block">
          <span class="font-color-cyan">不限</span>
          <span class="font-color-cyan">发布感谢信</span>
          <span class="font-color-cyan">重金酬谢</span>
        </div>
      </div>
    </form>
  </div>
  <div class="news-block">
    <div class="news row">
      <div class="col-md-6 infos-item" *ngFor="let x of tags"
           [ngClass]="x.id % 2 !== 0 ? 'right' :''"
           [style.margin-top.px]="20"
           [routerLink]="x.id">
        <div class="markLogo" [ngClass]="x.category == 1 ? 'find' : 'lost'">
          <span *ngIf="x.category == 1">寻物</span>
          <span *ngIf="x.category == 2">招领</span>
        </div>
      </div>
    </div>
  </div>

</div>
