@import "../../publicSource/basicColor";

.seach-block{
  form{
    padding:100px 30px;
  }
  input{
    margin-right:20px;
  }
  label{
    margin-right:10px;
  }
  button{
    margin-right:20px;
  }

  span{
    margin:0 5px;
  }
  .row{
    margin-bottom:5px;
  }
}
.width-40{
  width:40%;
}

.right{
  float:right;
}

.form-inline{
  & span{
    cursor: pointer;
  }
}

