.main{
  padding-top: 40px;
  font-size: 18px;
  color: #5d5858;
  line-height: 36px;
}
.title{
  color: #ffa730;
  font-size: 25px;
  font-weight: bold;
}
.text-indent{
  text-indent: 36px;
}
.important{
  color: red;
  padding-top:30px;
}
