<div class="container">
  <div id="topImg">
    <img src="../../../assets/img/aboutUs1.jpg" class="img-top">
  </div>
  <div class="main">
    <p class="title">网站介绍</p>
    <p class="text-indent">针对当今社会经济与网络信息的迅速发展，生活节奏不断加快，很容易丢三落四。虽然很多公共场所都拥有一些“失物招领角”,
      但这些地方只存在一些指定地点，如火车站、机场、学校失物招领所、旅游地指定的失物招领地点，且存在数目少，不方便失主或拾物者寻找物品、上交物品，
      并且找回丢失物品的速度不仅慢几率还很小。虽然现在大部分高校、火车站、机场都拥有自己的失物招领官微或官网, 但是由于区域范围有限、推广力度小、
      不方便等问题，导致很多人都不知道丢了东西该怎样去寻找。</p>
    <p class="text-indent">本站是一个全国范围性公益的网站，可以帮助更多人寻找到失物，解决了其他失物招领网站和拾物招领处区域范围有限、不方便等问题。
      无论你丢了什么，还是捡到了什么，都不妨到丢哪了(diunal.com)-失物招领平台来看看或者发张告示。
      或许拾到物品的好心人，正在此寻找失主。
      或许失主正在此等待好心人的出现。
      感谢每个使用本网站的用户，感谢你们传递了正能量，让更多的人能够很方便的召回失物。
    </p>
  </div>
  <div class="important">
    <p class="text-indent">本站不欢迎利用本站发布的信息来诱骗失主，请给自己留一点自尊，也请给这个社会多一份爱心。</p>
    <p class="text-indent">本站不欢迎利用本站发布的信息来诱骗失主，请给自己留一点自尊，也请给这个社会多一份爱心。</p>
    <p class="text-indent">本站不欢迎利用本站发布的信息来诱骗失主，请给自己留一点自尊，也请给这个社会多一份爱心。</p>
  </div>
</div>
