@import '../../publicSource/basicColor';

.container-fluid1{
  padding:0;
  margin:0;
  height:100%;
}
.bg-img{
  background: url("../../../assets/img/bg6.jpg");
  background-size:100% 110%;
}

/*The css for Login*/
.row{
  width:100%;
  margin:0;
  padding:0;
}
#login{
  width:350px;
  //height:400px;
  background: rgba(255,255,255,0.6);
  border-radius:10px;
  position: absolute;
  top:50%;
  left:60%;
  margin-top:-200px;
  .title{
    padding:10px;
    font-size:30px;
    background: rgba($basicColor-deepgreen,0.7);
    border-radius:10px 10px 0 0;
    color:white;
  }

  .login-body{
    padding:50px 20px;
    & input{
      height:30px;
      margin-bottom:20px;
    }
    & label{
      font-size:14px;
      line-height: 30px;
      color:$basicColor-deepgreen;
    }
    .btn-line{
      margin:30px 10px;
      .btn{
        padding:0;
      }
      .btn-warning{
        left:15px;
      }
    }
    .register{
      padding-right:20px;
      margin-top:-50px;
      color: #1172b5;
      cursor:pointer;
    }
  }
}
.row input[type=text], .row input[type=password]{
  border: 1px #87af82 solid;
  height: 35px !important;
  border-radius: 7px;
}
.row input[type=text]:focus, .row input[type=password]:focus{
  box-shadow:0 0 3px #87af82;
}

.alert-warning{
  color: #c5545d;
  border: 0;
}
.alert{
  padding: 8px;
}
