<div class="container">
  <div id="topImg">
    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" class="img-top">
  </div>
  <div class="seach-block text-left">
    <form class="form-inline">
      <div class="row">
        <input type="text" class="form-control width-40" placeholder="物品搜索" name="goodsSearch" autocomplete="off"
               [(ngModel)]="searchInfos.infoTittle">
        <i class='glyphicon glyphicon-remove-circle clear-input' 
           *ngIf="goodsSearch != ''"
           (click)="search('clearInput')"></i>
        <button class="btn btn-success" style="outline: none !important;"
                (click)="search('fuzzySearch-input', goodsSearch)">搜索</button>
        <div class="inline-block">
          <label>热门搜索:</label>
          <span class="font-color-blue"
                [ngClass]="searchStyle.hotSearch === i.val ? 'hot-search' : ''"
                *ngFor="let i of hotSearch"
                (click)="search('fuzzySearch-hot',i.val)">{{i.val}}</span>
        </div>
      </div>
      <div class="row" style="padding-top: 10px !important;">
        <div style="line-height: 14px;">
          <label>所属区域:</label>
          <span class="font-color-cyan" (click)="search('area','')"
                [ngClass]="searchStyle.areaSearch === '' ? 'area-search' : ''">不限</span>
          <span class="font-color-cyan" (click)="search('localCity', localCity)"
                [ngClass]="searchStyle.areaSearch === localCity ? 'area-search' : ''">本市</span>
          <span class="font-color-cyan"
                [ngClass]="searchStyle.areaSearch === i[0] ? 'area-search' : ''"
                *ngFor="let i of district"
                (click)="search('area', i[0])">{{i[1]}}</span>
        </div>
      </div>
      <div class="row" style="padding-top: 10px !important;">
        <label>物品种类:</label>
        <div class="inline-block">
          <span class="font-color-cyan font-margin-10"
                [ngClass]="i.key === searchStyle.goodsTypeSearch ? 'goodsType-search' : ''"
                *ngFor="let i of goodsType"
                (click)="search('goodsType',i.key)">{{i.val}}</span>
        </div>
      </div>
      <div class="row" style="padding-top: 10px !important;">
        <label>丢失时间:</label>
        <nz-demo-date-picker-start-end [isShowEndPicker]="true"
                  (startDateVal)="getSearchTime($event, 'start')"
                  (endDateVal)="getSearchTime($event, 'end')">
        </nz-demo-date-picker-start-end>
      </div>
      <!-- <div class="row" style="padding-top: 10px;">
        <label>感谢方式:</label>
        <div class="inline-block">
          <span class="font-color-cyan"
                *ngFor="let i of thankWay"
                (click)="search(i.key)">{{i.val}}</span>
        </div>
      </div> -->
    </form>
  </div>
  <div class="news-block">
    <div class="-loading" style="text-align: center;" *ngIf="showLoading">
      <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading...">
        <nz-alert></nz-alert>
      </nz-spin>
    </div>
    <div class="none_data" *ngIf="pageConfig.totalNum == 0">
      <nz-empty [nzNotFoundContent]="'没有找到相关数据'"></nz-empty>
    </div>
    <div class="news">
      <div class="messages" *ngFor="let item of renderData" [routerLink]="item.id">
        <div class="message-content">
          <div class="m-img">
            <img [src]="item.picUrlEntityList[0].goodsPicUrl">
          </div>
          <div class="m-right">
            <div class="m-tag">
              <div [ngClass]="item.goodsWay == 1 ? 'find' : 'lost'">
                <span *ngIf="item.goodsWay == 1">寻物</span>
                <span *ngIf="item.goodsWay == 0">招领</span>
              </div>
            </div>
            <div class="m-main-information">
              <div class="m-title"><span>{{item.infoTittle}}</span></div>
              <div class="line"><span class="sr-only">这是一根线</span></div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 1">丢失类型:</span>
                <span *ngIf="item.goodsWay == 0">拾物类型:</span>
                <span>{{ item.typeOfGoods | conversionValue}}</span>
              </div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 1">丢失地点:</span>
                <span *ngIf="item.goodsWay == 0">拾物地点:</span>
                <span>{{item.lostPlace}}</span>
              </div>
              <div class="m-margin-bottom">
                <span *ngIf="item.goodsWay == 1">丢失时间:</span>
                <span *ngIf="item.goodsWay == 0">拾物时间:</span>
                <span>{{item.lostTime | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="m-margin-bottom">
                <span>发布者:</span><span>小白兔好好吃</span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-footer">
          <div>
            <span style="font-weight: bold;">描述:</span>
            <span style="line-height: 22px;">{{item.description}}</span>
          </div>
          <div style="padding-right:5px;">
            <span>发布时间:</span><span>{{item.createTime | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pageComponent text-right" style="padding-top:60px;"
         *ngIf="pageConfig.totalNum != 0">
      <app-common-page [pageSize]="pageConfig.pageSize" [totalNum]="pageConfig.totalNum" (currentIndex)="changePage($event)"></app-common-page>
    </div>
  </div>

</div>
