/* You can add global styles to this file, and also import other style files */
@import "app/publicSource/basicColor";

@media screen and (max-width:1250px){
  html{
    //font-size:8px !important;
  }
}
html{
  font-size:10px;
  button{
    outline: none !important;
  }
}

*{
  font-family: '微软雅黑';
  //overflow-x: hidden;
  outline: none;
  .row{
    padding:0 !important;
    margin:0 !important;
  }
}
.body{
  margin: 0;
  padding: 0;
  width: 100%;
  //overflow-x: auto;
  //font-size:10px;
}

.container{
  width:1200px !important;
  max-width:none;
}

/*
*the css of scroball
*/
::-webkit-scrollbar{
  width:7px;
  height:7px;
  //background-color: $basicColor-green;
}
::-webkit-scrollbar-thumb{
  background-color: $basicColor-orange;
}


.fullHeight{
  height: 100vh;
}
.right{
  float:right;
}
.left{
  float:left;
}

/*icon css*/
.icon{
  margin:0 0.5rem 0 1rem;
}
.icon-success{
  color: #59d66d;
}
.icon-remind{
  color: #5ebde3;
}
.icon-danger{
  color: #b71b00;
}
.icon-warning{
  color: #ff9000;
}

.img-top{
  width:100%;
}
.inline-block{
  display: inline-block;
}
.font-color-deepgray{
  color: #565c56;
}
.font-color-gray{
  color:#636963;
}
.font-color-blue{
  color:#3372E3;
}
.font-color-cyan{
  color: #1ec2e3;
}
.font-margin-10{
  margin:0 10px;
}

/*用户头像*/
.user-head-portrait{
  border-radius: 50%;
}
/*加载动画*/
.ant-spin{
  color: #00816e !important;
}
.ant-spin-dot i{
  background-color: #00816e !important;
}

/*页码组件*/
a {
  text-decoration-line: none !important;
}
.ant-pagination-item-active{
  border-color: #e18130 !important;
}
.ant-pagination-item, .ant-pagination-item-active:hover{
  border-color: #00816e;
}
.ant-pagination-item-active a{
  color: #e18130 !important;
}
.ant-pagination-item a{
  color: #00816e;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
  color: #00816e;
}

/*图片-展示*/
.show-img{
  width: 212px;
  height:150px;
}
/*没有数据时*/
.none_data{
  text-align: center;
  span{
    color: #cac9c9;
    font-size: 18px;
    font-weight: bold;
  }
}
/*loading*/
.-loading{
  text-align: center;
}
