/* You can add global styles to this file, and also import other style files */
@import "app/publicSource/basicColor";

*{
  font-family: '微软雅黑';
  //overflow-x: hidden;
}
.body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-width:1000px;
}

.container{
  width:1200px !important;
  max-width:none;
}

/*
*the css of scroball
*/
::-webkit-scrollbar{
  width:5px;
  //background-color: $basicColor-green;
}
::-webkit-scrollbar-thumb{
  background-color: $basicColor-orange;
}


.fullHeight{
  height: 100vh;
}
.right{
  float:right;
}
.left{
  float:left;
}

/*icon css*/
.icon{
  margin:0 5px 0 10px;
}
.icon-success{
  color: #59d66d;
}
.icon-remind{
  color: #5ebde3;
}
.icon-danger{
  color: #b71b00;
}
.icon-warning{
  color: #ff9000;
}

.img-top{
  width:100%;
}
.inline-block{
  display: inline-block;
}
.font-color-deepgray{
  color: #565c56;
}
.font-color-gray{
  color:#636963;
}
.font-color-blue{
  color:#3372E3;
}
.font-color-cyan{
  color: #1ec2e3;
}
.font-margin-10{
  margin:0 10px;
}
