@import "../../publicSource/basicColor";
.header{
  width:  100%;
  min-width: 1300px;
  height: 64px;
  background-color: #00816e;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  padding:0 50px 0 100px;
  box-sizing: border-box;
}
.navbar11{
  height:64px;
  width:800px !important;
  min-width:700px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-center{
  width:1300px;
  padding:0;
}
.nav{
  width:100%;
  display: flex;
  justify-content: space-around;
  .li{
    //float:left;
    width:20%;
    height:100%;
    text-align: center;
    a{
      color:#fff;
      font-size: 22px;
      padding-top:20px !important;
      height:64px;
      &:hover{
        background-color: #0ca386;
      }
      &:visited{
        background-color: #0ca386;
      }
      &:active{
        background-color: #0ca386;
      }
    }
  }
}
.active{
  background-color: #0ca386;
}
.user-infos{
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

.content{
  display: flex;
  padding-top:100px;
}

.footer{
  width:100%;
  min-width:1300px;
  padding-top: 200px;
  box-sizing: border-box;
}
.footer-bgImg{
  background: url("../../../assets/img/footerbg1.jpg");
  //background-position: center center;
  background-attachment: fixed;
  background-size:100% 100%;
}
.footer-bgColor{
  background-color:rgba($basicColor-seniorGray,0.85);
  padding:50px 0;
  box-sizing: border-box;
}

.footer .container{
  display:flex;
  flex-direction: column;
  color:$basicColor-gray;

  .main div{
    font-size:15px;
  }

  .row:nth-child(2){
    padding:5px 50px 0 50px;
    box-sizing: border-box;

    span{
      margin:auto 10px !important;
    }
  }

  span{
    margin:auto 15px;
  }
}

/*
* the css of ant dropdown
*/
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
  color: rgba(62, 52, 52, 0.65);

  &:hover{
    color: rgba(34, 193, 106, 0.65);
    text-decoration-line: none;
  }
}
