<header class="header">
  <div class="nav_detail">
    <img src="http://placehold.it/169x64" width="169px" height="64px">
  </div>
  <nav class="navbar11">
    <ul class="nav nav-margin">
      <li class="li" routerLinkActive="active"><a routerLink="./index">首页</a></li>
      <li class="li" routerLinkActive="active"><a routerLink="./lostSth">寻物</a></li>
      <li class="li" routerLinkActive="active"><a routerLink="./findSth">招领</a></li>
      <li class="li" routerLinkActive="active"><a routerLink="./publishNews">发布信息</a></li>
      <li class="li" routerLinkActive="active"><a routerLink="./aboutUs">关于我们</a></li>
    </ul>
  </nav>
  <div class="user-infos">
    <img src="http://placehold.it/80x60" width="80px" height="60px">
    <span routerLink="/login">[登录]</span>
    <span>所在城市：四川省成都市</span>
    <span>[切换城市]</span>
  </div>
</header>
<content class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</content>
<footer class="footer">
  <div class="footer-bgImg">
    <div class="footer-bgColor">
      <div class="container">
        <div class="row">友情链接:</div>
        <div class="row text-center">
          <div>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
          </div>
          <div>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
            <span>中国拾物招领网</span>
          </div>
        </div>
        <div class="text-center">
          <span>关于我们</span>
          <span routerLink="./statement">网站声明</span>
        </div>
        <div class="text-center">
          <span>Made By 四川轻化工大学 计算机学院 计算机科学与技术20156班 陈金燕</span>
        </div>
      </div>
    </div>
  </div>
</footer>


